{% extends 'base_front.html.twig' %}

{% block title %}Hello EstablishmentController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Hello Etablissement {{ id }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/apps/symfony_groupe_hotelier/src/Controller/EstablishmentController.php'|file_link(0) }}">src/Controller/EstablishmentController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/apps/symfony_groupe_hotelier/templates/establishment/add_gallery.html.twig'|file_link(0) }}">templates/establishment/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
