{% extends 'base_front.html.twig' %}

{% block title %}Création de compte{% endblock %}

{% block body %}
    <h1>Création de compte</h1>
<div>
    {{ form_start(registrationForm) }}
    <div>
        {{ form_row(registrationForm.email) }}
    </div>
    <div>
        {{ form_row(registrationForm.plainPassword) }}
    </div>
</div>

        <button type="submit" class="btn btn-outline-primary">Créer mon compte</button>
    {{ form_end(registrationForm) }}
{% endblock %}
