{% extends 'base_front.html.twig' %}

{% block title %}Hello ReservationController!{% endblock %}

{% block body %}

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-12 col-lg-4 ps-0">

        </div>
        <div class="col-12 col-lg-4">
            <h1>Réservations</h1>
            {{ form (reservationForm)}}
        </div>
        <div class="col-12 col-lg-4 pe-0">

        </div>
    </div>
</div>
{% endblock %}
