body {
    background-color: lightgray;
    min-height: 100vh;
}

@font-face {
    font-family: 'Mukta Vaani';
    src: url('../fonts/Mukta_Vaani/MuktaVaani-Regular.ttf');
}

@font-face {
    font-family:'Expletus Sans';
    src: url('../fonts/Expletus_Sans/static/ExpletusSans-Bold.ttf');
}

@font-face {
    font-family: 'Taviraj Italic';
    src: url('../fonts/Taviraj/Taviraj-MediumItalic.ttf');
}

* {
    font-family: 'Mukta Vaani';
}

h1 {
    font-family: 'Expletus Sans';
}

h2, h3, h4, h5 {
    font-family: 'Taviraj Italic';
}

.logo {
    height: 60px;
    filter: invert(93%) sepia(70%) saturate(6098%) hue-rotate(185deg) brightness(92%) contrast(90%);
}

.footer-logo {
    height : 30px;
    filter: invert(58%) sepia(85%) saturate(0%) hue-rotate(93deg) brightness(91%) contrast(93%);
}

.presentation-wrapper{
    height: 100vh;
}

.presentation_video{
    filter: brightness(45%) grayscale(80%);
    position:absolute;
    object-fit: cover;
    top : 0;
    left : 0;
    z-index : -1;
}

@media screen and (min-width: 1920px) {
    .presentation_video {
        min-width:100vw;
        max-height: 100%;
    }
}

@media screen and (max-width:1919px) {
    .presentation_video{
        max-width: 100vw;
        min-height:100%;
    }
}

.search-box {
    height: 80vh;
}

.footer-container{
    position:sticky;
    top : 100vh;
}

.homepage-image{
    max-width: 400px;
    object-fit: contain;
}

.icon {
    height: 30px;
    filter: invert(93%) sepia(70%) saturate(6098%) hue-rotate(185deg) brightness(92%) contrast(90%);
}