body {
    background-color: lightgray;
}

@font-face {
    font-family: 'Mukta Vaani';
    src: url('../fonts/Mukta_Vaani/MuktaVaani-Regular.ttf');
}

@font-face {
    font-family:'Expletus Sans';
    src: url('../fonts/Expletus_Sans/static/ExpletusSans-Bold.ttf');
}

@font-face {
    font-family: 'Taviraj Italic';
    src: url('../fonts/Taviraj/Taviraj-MediumItalic.ttf');
}

* {
    font-family: 'Mukta Vaani';
}

h1 {
    font-family: 'Expletus Sans';
}

h2, h3, h4, h5 {
    font-family: 'Taviraj Italic';
}

.logo {
    height: 60px;
    filter: invert(93%) sepia(70%) saturate(6098%) hue-rotate(185deg) brightness(92%) contrast(90%);
}

.footer-logo {
    height : 40px;
}
